.shopping-cart{
    display: flex;
    flex-direction: column;
    width: 20%;
    box-shadow: 1px 2px 8px 3px rgba($color: #000000, $alpha: 0.7);
    border-radius: 0.5rem;
    position: absolute;
    top: 8rem;
    right: 1rem;
    z-index: 1000000;
    background-color: #ffffff;
    // transform: translateY(-100%);

    .item-card{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: rgba($color: #000000, $alpha: 0.3) solid 1px;
        border-radius: 0.25rem;
        margin: 5px 10px;
        &__name{
            font-size: 20px;
            padding: 6px;
            font-weight: bold;
        }
    }
    .cartImg{
        width: 60%;
    }
}